body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
footer {
    margin-top: auto;
    align-self: center;
    width: 90%;
    background-color: #e187b8;
    text-align: center;
    padding: 1rem;

}

/*all display flex properties not in a media query*/ 
.card, .flex,
.flex-main-container, 
.rock-paper-scissors-container, 
.page-container, 
.card-container, .overview {
    display: flex;
}  
.gap {
    margin-right: 0.6rem;
}
.flex {
    color: pink;
justify-content: space-around;
}

.notifications {
    padding:2rem;
    background-color: rgb(50, 83, 153);
    margin: 2rem;;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Fredoka One', cursive;

    box-shadow: #e187b8 5px 5px;
}

/*all flex columns*/
.flex-main-container,
.card-container {
    flex-direction: column;
}
/*layout css properties from top to bottom*/

.page-container {
    justify-content: space-between;
}

.column-container {
    color: white;
}

.sidebar {
    background-color: #fff;
    color:  green;
    flex-basis: 15%;
    width: 15%;
      
}
.pAgainButton {
    color: red;
}

.paDiv {
    display: flex;
    justify-content: center;
}
.main-content {
    background-color: #fff;
}

.header, .userInteraction {
    padding: 1.5rem;
    margin: 1.5rem;
    align-self: center;
}
.userInteraction {
    padding: 0 1rem 0rem 1rem;
}
.title {
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
    color: #e187b8;
    font-size: 5rem;
    padding: 0;
    margin: 0;
    line-height: 0.7;
}

.rock-paper-scissors-container {
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    gap: 1em;
    margin: 1rem;
    justify-content: center;
    flex-basis: auto;
    padding: 1rem;
}
.card-container {
    width: 20vw;
    height: auto;
    flex-shrink: 0;
    flex-grow: 1; 
    padding: 0;
    
}

.cent {
    justify-content: center;
}
.spaceBt {
justify-content: space-between;
}
    

.card {
    background-color: #fff;
    border-radius: 100%;
    padding: 0px;
    justify-content: center;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.hoverOnIcon:hover {
    background-color: #ecc371;
    transition: cubic-bezier(0.47, 0, 0.745, 0.715);
    
 }
 img {
    max-width: 100%;
    height: auto;
 }
.weapons {
    margin: 0px;
    padding: 0px;
    flex-shrink: 0;
    flex-grow: 0;
}

.userInteraction {
background-color: #fff;
color: black;
padding-top: 0;
margin-top: 0;

text-align: center;
}

.center {
    align-self: center;
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 0;
    gap: 1;
    margin-bottom: 0.2rem;}

.paddingTop {
    padding-top: 0.5rem;
    margin-top: 10px;

}
.hidden {
    display: none;
}

.animate {

    animation: title-screen 3s cubic-bezier(0.64, 0, 0.78,0) 0s 1 normal none;
}

@keyframes title-screen {
0%, 
100%{
    transform: translateX(0%);
    transform-origin: 50% 50%;
}

15% {
    transform: translateX(-30px) rotate(-6deg);
}

30% {
    transform: translateX(15px) rotate(6deg);
}
45% {
    transform: translateX(-15px) rotate(-3.6deg);
    }
60% {
    transform: translateX(9px) rotate(2.4deg);
} 
75% {
    transform: translateX(-6px) rotate(-1.2deg);
}
}


    

@media(max-width: 600px){
    .sidebar {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 15%;
        width: 15%;
      
    }
   
    .header {
        padding-bottom: 0;
    }
    
    .main-content {
        flex-direction: column;
        flex-shrink: 0;
        flex-basis: 70%;
        justify-content: center;
        width: 70%
    }   
    .title {
        font-size: 3rem;
    }
    .card-container {
        flex-direction: column;
        padding: 0 0.2rem 0 0.2rem;
        width: 50%;
        height: auto;
        flex-shrink: 0;
        flex-grow: 0; 
        align-self: center;
    }
    
    .card {
        flex-direction: column;
        align-content: center;
    }
    .rock-paper-scissors-container {
        
        justify-content: center;
        flex-wrap:wrap ;

    }

    .userInteraction {
        padding: 0;
        margin: 0;
       
    }
    .paddingTop {
        width: 40vw;
    }

    
}

.username {
    color: blue;
}

.playerOne {
    color: purple;
}

.playerTwo {
    color: orange;
}


.subtext {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
}


.startButton {
    color: white;
}

td {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    
}

.final {
    font-weight: 700;
    color: green;
}
.rpsH1Hover {
    color: #85a1ac;
}
.weaponNotInPlay {
    display: none;
}

.p1 {
color: pink;
}

.p2 {
color: blue;
}

.tie {
color: red;
text-shadow: 3px 5PX  BLACK;
}

.overview {
    flex-direction: column;
}

.overviewLi {
}

.overviewOl {
    list-style: none;
    padding: 0.4rem;
}

.overviewFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: justify;
}